<h3>Make a bet for this round</h3>
</br>
<%= "#{session[:username]} has $#{session[:bet_left]}"%>
</br>
<form id='bet' action='/bet' method='post'>
  <input type='text' name='bet'/>
  </br>
  <input type='submit' value='Make Bet' class='btn'/>
</form>
